@*@page "/"*@
@page "/tvshowList"
@page "/TvShows/tvshowList"
@using PersonalTVShows.Models.Dto
@using PersonalTVShows.Models.TvMazeModels

<PageTitle>Tv Shows</PageTitle>

<MudText Typo="Typo.h4">Tv Shows</MudText>


@if (IsBusy)
{
    <MudPaper Class="pa-16 ma-2" Elevation="0">
        <div class="container">
            <div class="child">
                <MudProgressCircular Color="Color.Primary" Size="Size.Large" Indeterminate="true" />
            </div>
        </div>
    </MudPaper>
    @* <MudText Typo="Typo.h3"><em>Loading...</em></MudText> *@
}
else
{
    <div style="width:100%;">
        <MudDataGrid Items="@ListShowsDto" Hover="true" Dense="true">
            <Columns>
                <PropertyColumn Property="x => x.Id" Title="Id" />
                <PropertyColumn Property="x => x.PictureSmallUrl" Title="Picture">
                    <CellTemplate>
                        <MudImage Src="@context.Item.PictureSmallUrl" Width="50" Height="50" Alt="small image of show"
                                  Fluid="true" Class="rounded-lg ma-4" />
                    </CellTemplate>
                </PropertyColumn>
                <PropertyColumn Property="x => x.ShowName" Title="Name" />
                <PropertyColumn Property="x => x.NetworkChannelName" Title="Channel" />
                <PropertyColumn Property="x => x.WeekDayAndTime" Title="Day And Time" />
                <PropertyColumn Property="x => x.LastEpisodeDate" Title="Last Episode Date" />
                <PropertyColumn Property="x => x.LastEpisode" Title="Last Episode" />
                <PropertyColumn Property="x => x.LastEpisodeName" Title="Last Episode Name" />
                <PropertyColumn Property="x => x.NextEpisodeDate" Title="Next Episode Date" />
                <PropertyColumn Property="x => x.NextEpisode" Title="Next Episode" />
                <PropertyColumn Property="x => x.NextEpisodeName" Title="Next Episode Name" />
            </Columns>
        </MudDataGrid>
    </div>
}